{% load static %}

<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Welcome!</title>
            <link href="{% static 'website/styles.css' %}?nocache={timestamp}" rel="stylesheet">
        </head>

        <body>
            <div class="bg-img"></div>

           
            <div class="topnav">
                <a href="{% url 'homepage' %}">Home</a>
                <a href="{% url 'resume' %}">Resume</a>
                <a href="https://github.com/mroesch2">GitHub</a>
                <a class="active" href="{% url 'contact' %}">Contact</a>
            </div>

            <h2>Contact Us</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>

           
          <div class="footer"></div> 
        </body>
    </html>