
<DOCTYPE html>
    <html lang="en">
        <head>
            <title>Welcome!</title>
        </head>
        <body>
            <div style="background-color:tomato; color:white; padding: 3%; 
            text-align: center; font-size: 30px">Welcome to my webpage!</div>

            <div class="topnav", style="background-color: firebrick; padding: 3%;">
                <a class="active" href="#home" style="color: floralwhite;">Home</a>
                <a href="#news" style="color: floralwhite;">About Me</a>
                <a href="#contact" style="color: floralwhite;">Resume</a>
                <a href="#about" style="color: floralwhite;">GitHub</a>
            </div>
            
        </body>
    </html>