
{% load static %}
<DOCTYPE html>
    <html lang="en">
        <head>
            <title>Welcome!</title>
            <link href="{% static 'website/styles.css' %}?nocache={timestamp}" rel="stylesheet">

        </head>

        <body>
            <div class="bg-img"></div>
            
            <div class="topnav">
                <a href="{% url 'homepage' %}">Home</a>
                <a href="{% url 'aboutme' %}">About Me</a>
                <a class="active" href="{% url 'resume' %}">Resume</a>
                <a href="https://github.com/mroesch2">GitHub</a>
            </div>  
            
            <div class="resume">
                <h1>Melissa Roesch</h1>

                <p class="head">Skills</p>
                <ul>
                    <li>C++</li> <li>Java</li>
                    <li>HTML/CSS</li>
                    <li>Windows OS</li>
                    <li>C#</li>
                    <li>Agile</li>
                    <li>x86 Assembly</li>
                    <li>Git</li>
                </ul>

                <p class="head">Education</p>
                <ul>
                    <li><b> Tech University - Cookeville, TN</b><span class="tab">    </span>
                        August 2016 - May 2020
                        <ul>
                            <li><i>Bachelor of Science in Computer Science – 
                                Software/Scientific Appl</li></i>
                            <li>Minor in Science</li>
                            <li>Selected Coursework: Object Oriented Programming, 
                                Design of Algorithms, Data Structures, Databases, 
                                Software Engineering, Design and Development of 
                                Human and Web Interfaces</li>
                        </ul>
                        
                    </li>

                </ul>

                <p class="head">College Projects</p>
                <ul>
                    <li><a href="https://drive.google.com/file/d/1HcbmXy3rBeymv0BWI3s4T1hqtp1qJI1_/view?usp=sharing">
                        CyberPatriot: Unplugged (Created in collaboration with Julienne Cox)</a></li>
                    <ul>
                       <li>Created to be used by pre-teens and CyberPatriots</li>
                        <li>A basic overview of Windows and Linux operating systems</li>
                        <li>Beginners concepts to cyber security</li>
                    </ul>
                    <li>VolleyTrax</li>
                    <ul>
                        <li>Inherited project from a previous Software Engineering team</li>
                        <li>Used Pozyx and ultra-wideband technology to track volleyball
                            players movement on the court</li>
                        <li>Utilized Agile and Scrum methodology </li>    
                    </ul>
                </ul>

                <p class="head">Work Experince</p>
                <ul>
                    <li><b>Russell Stover Chocolates</b><span class="tab2">    </span>
                        December 2016 - May 2020</li>
                    <ul>
                        <li>Experience providing customer service to hundreds of 
                            customers daily </li>
                        <li>Completion of projects by or before deadline</li>
                        <li>Working and communicating efficiently on a team</li>
                    </ul>
                </ul>
            </div>

            <div class="footer"></div> 
        </body>
    </html>