
{% load static %}
<DOCTYPE html>
    <html lang="en">
        <head>
            <title>Welcome!</title>
            <link href="{% static 'website/styles.css' %}?nocache={timestamp}" rel="stylesheet">

        </head>

        <body>
            <div class="bg-img"></div>
            
            <div class="topnav">
                <a href="{% url 'homepage' %}">Home</a>
                <a href="{% url 'aboutme' %}">About Me</a>
                <a class="active" href="{% url 'resume' %}">Resume</a>
                <a href="https://github.com/mroesch2">GitHub</a>
            </div>  
            
            <div class="resume">
                <h1>Melissa Roesch</h1>
                mroesch2@gmail.com

                <p class="head">Skills</p>
                <ul>
                    <li>C++</li>
                    <li>Java</li>
                    <li>HTML/CSS</li>
                    <li>Windows</li>
                    <li>C#</li>
                    <li>Agile</li>
                </ul>

                <p class="head">Education</p>
                <ul>
                    <li>Tennessee Tech University - Cookeville, TN        Fall 2016 - Spring 2020
                        <ul>
                            <li>Bachelor of Science in Computer Science – 
                                Software/Scientific Appl</li>
                            <li>Minor in Science</li>
                            <li>Selected Coursework: Object Oriented Programming, 
                                Design of Algorithms, Data Structures, Databases, 
                                Software Engineering, Design and Development of 
                                Human and Web Interfaces</li>
                        </ul>
                        
                    </li>

                </ul>

                <p class="head">College Projects</p>
                <ul>
                    <li>CyberPatriot: Unplugged</li>
                    <li>VolleyTrax</li>
                </ul>

                <p class="head">Work Experince</p>
                <ul>
                    <li>Russell Stover Chocolates</li>
                    <ul>
                        <li>Customer Service</li>
                        <li>Projects with deadlines</li>
                        <li>Working on a team</li>
                    </ul>
                </ul>
            </div>
        </body>
    </html>