/* Add a black background color to the top navigation */
.topnav {
    background-color:#06557a;
    overflow: hidden;
    position: sticky;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    width: 22%;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color:#a9c9d5;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #e2babf;
    color: black;
  }

  .bg-img {
    background: url('../images/mtnbg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
  }


.wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;         
  height: 500px;                  
  justify-content: space-evenly; 
  padding: 80px;
}
.text-box {
  width: 40%;
  flex-basis: 100%;               
  border: 4px solid rgb(38, 50, 73);
  background-color: aliceblue;
  text-align: center;
}
.elem1 {
  content: url('../images/IMG_4988.JPG');
  width: 20%;
  flex-basis: 40%;                
  border: 4px solid rgb(38, 50, 73);
  height: 20%;
  background-color: aliceblue;
}
.elem2 {
  content: url('../images/IMG_2472.JPG');
  width: 20%;
  flex-basis: 40%;                
  border: 4px solid rgb(38, 50, 73);
  height: 20%;
  background-color: aliceblue;
}

.elem3 {
  content: url('../images/IMG_5859.JPG');
  width: 20%;
  flex-basis: 40%;                
  border: 4px solid rgb(38, 50, 73);
  height: 20%;
  background-color: aliceblue;
}

.elem4 {
  content: url('../images/IMG_8740.JPG');
  width: 20%;
  flex-basis: 40%;                
  border: 4px solid rgb(38, 50, 73);
  height: 20%;
  background-color: aliceblue;
}


.resume {
  background-color: aliceblue;
  z-index: 5;
  position: static;
  margin: auto;
  width: 50%;
  border: 3px solid black;
  margin-top: 80px;
  padding: 10px;
  height: 900px;
}